# Environment Variables Template
DB_URL=jdbc:mysql://localhost:3306/auth_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=root

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin

JWT_SECRET=v9y$B&E)H@McQfTjWnZr4u7x!A%D*F-JaNdRgUkXp2s5v8y/B?E(H+MbQeThWmZq

AUTH_SERVICE_URL=http://localhost:8081
ASSET_SERVICE_URL=http://localhost:8082
TRANSACTION_SERVICE_URL=http://localhost:8083
AUDIT_SERVICE_URL=http://localhost:8084
